// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: rgba(128, 170, 165, 0.568);
}

.box {
        background-color: rgb(241, 241, 241);
        color: black;
        margin: 20px;
        padding: 20px;
  }